.headerizar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: left;
    background: linear-gradient(to bottom, #b6b6b6, #ffffff);
    color: black;
    padding: 10px;

}
